<%- include('header'); -%>

<!DOCTYPE html>




<html>
  <head>
    <title>Daily Water</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Daily Water</h1>
<%- include('menubar'); -%>
<br>
<br>
<br>
<br>
<br>

    <button type="button" class="btn btn-primary btn-lg btn-block">Drinking Time</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">How Much to Drink</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Your Profile</button>

  </body>
  

</html>
<%- include('footer'); -%>
