<%- include('header') -%>
<%- include('menubar') -%>

<h1>Pro Suggestions to drink water </h1>


<p> Are You Drinking Water at the Right Times of Day?
Drinking 8 glasses of water a day in order to stay properly hydrated is (hopefully) not news for most of us. But, did you know that there are specific times throughout the day when drinking water can actually boost your overall health and cognitive functioning? If you’re like me, you’re probably saying to yourself, ‘water’s water, I need it no matter what time of day’, and while this is by all means still true, research shows that you can actually absorb more of water’s health benefits and improve your internal processes by drinking it at optimal times throughout the day.
Science shows that drinking water at the correct times of day can help to prevent common problems such as stomach pain, IBS, bloating, fatigue, overeating, high blood pressure, constipation, and even heart attack and stroke.
On the flip side, there’s also certain times of day it’s advised to forego the H2O, since our bodies are busy doing other things—and need all internal roadways clear in order to do so. Here’s the best times of day to drink (and not to drink) water, in order to maximize its effectiveness and reap all the health benefits that nature’s long-standing MVP has to offer.

<br>
<br>


<p> DO: Drink Right When You Wake Up
Your first glass of water should be right when you wake up. Drinking water on an empty-stomach in the morning can do wonders for our bodies, both internally and externally. In fact, drinking two semi warm glasses of water first thing in the morning is an ancient Japanese daily ritual, and has been attributed to the health, beauty, and longevity its people.
A glass or two of water first thing in the AM helps to jumpstart your brain and body out of sleep mode, and into grind mode. It also gets rid of any toxins and stubborn free radicals that have accumulated in your circulatory system overnight, and helps to clean and purify your body’s internal organs. World’s easiest 2-minute detox? Consider it done.
Pro Tip: For best results, try not to eat anything until 30- 40 minutes after drinking, as this is the time the body takes to steam-clean, hydrate, and energize the cells with new oxygen.
</p>

<br>
<br>

<p> DO: Drink Before You Eat
Before any main meal throughout the day, you should drink a glass of water 30 minutes before to help with digestion and keep your caloric intake in check. Not only does the water prepare your intestines for the food coming down the pike, it also prevents you from over-eating, since the water lines your stomach and makes you feel fuller faster. Zero-cal appetizer? We’ll take two.
Pro Tip: If you’re hungry between meals, pour yourself a tall glass of water first to see if you’re dehydrated. Sometimes people think they’re hungry when they’re really just thirsty.
</p>
<br>
<br>

<p>DON’T: Drown Your Stomach During Mealtime
A common mistake that people (aka Me) make is gulping water during, and immediately after eating. (I’m serious—waiters are shocked, and eventually pretty annoyed, at how many times they have to keep coming back to refill the half human/half camel’s water glass…)
Well, turns out I should probably try to change my camel-like tendencies at the table. Since we absorb water best when our stomachs are not full of food, drinking heavy amounts of water during or directly after a meal dilutes the body’s natural juices that aid in digestion. It is recommended to drink one glass of water 30 minutes before, during, and after a meal—but no more. This will allow your digestive system to do its thing without any wet and wild distractions, and will help your body to absorb the nutrients more efficiently.
Pro Tip: Stopping for small sips during a meal slows down the speed at which you eat, causing you to eat less overall. Eating at a slower speed allows you to check in with your hunger signals, and usually makes a meal more enjoyable. And we all know enjoying what you eat is a big part of maintaining a balanced diet— and if we’re being real, a happy life.
</p>
<br>
<br>


<p>DO: Drink Before a Workout (and After)
Depending on your body’s fluid levels at the time, you may need one or more glasses of water before you hit the gym to protect against dehydration during your workout.  After your workout, it’s important to drink a lot of water to replace the fluids lost through sweat and humidity.
Pro Tip: Following vigorous exercise, you may need to drink several ounces of water to replenish vital fluids lost throughout your workout. The amount you’ll need depends on your weight, health, and whether you exercised in hot or humid conditions – especially for long periods – among other factors.
</p>
<br>
<br>


<p>DON’T: Drink Too Much During a Workout
Keep yourself hydrated while exercising, but avoid drinking too much. Excess water consumption during your workout will reduce sodium concentration in your body and deplete your natural electrolytes, resulting in fatigue. Also, always try to drink from a glass over a bottle. And if you have to use a bottle, ensure that it is food-grade. (As a fellow water addict, I can tell you, investing in one of the best BPA-free water bottles is a smart move.)
Pro Tip: It’s recommended to drink a few small sips (just enough to coat your mouth and throat) during your rest periods while exercising, in order to avoid over-drinking and diluting your body’s natural energy. 
</p>
<br>
<br>



<p>DO: Drink Before Bath Time 
Drinking one glass of water before taking a bath can help lower blood pressure. The water should be warm to promote dilation of your blood vessels, which causes blood pressure to drop. Plus, drinking water dilutes sodium levels in the body, which further aids in lowering blood pressure. 
</p>

<br>
<br>



<p>DO: Drink Before Bedtime
If you are fully hydrated before going to bed and sleeping, you can lower the risk of heart attack and stroke, as dehydration elevates the risk factors for cardiovascular disease. A heart attack occurs mostly in the morning because the blood is thicker due to loss of water. This is of the many good reasons to drink water at night in order to keep your body hydrated while you are sleeping.
</p>

<br>
<br>


<p>DON’T: Drink While Standing
Avoid drinking water while standing as it can have an adverse effect on your kidneys, and can even lead to arthritis. Sitting while drinking allows your body to better filter the nutrients and direct the water to specific areas that need nourishing, rather than going directly into your stomach with a force, as it does when standing. Also, we typically drink water a lot faster while standing, which brings your nerves into a state of tension. This is when problems like arthritis and joint damage can come into play, according to the experts.
Pro Tip: Drink your water slow and steady. Unnecessary gulping of huge amounts of water may lead to lack of oxygen in the wind and food pipe, which could potentially give rise to heart problems and lung issues.
</p>

<br>
<br>


<p>DO: Drink When You’re Tired
Drinking a glass of water when you feel tired will help to power up your brain.  Since your brain consists of 75% water, drinking a glass or two when you’re feeling sleepy will help to replenish your noggin’s fluid levels, and increase cognitive functioning.  Drink a glass of water if you’re feeling tired at work, or if you have a big presentation coming up and need to focus. If you’re feeling the need for a nap but can’t take one, have a glass of water instead.
Pro Tip: Did you know that fatigue is one of the primary signs of dehydration? Because of its ability to move quickly throughout the body and directly to the brain, drinking water can give you the boost you need before a big meeting, or when you’re on deadline and you didn’t get as much shut-eye as you’d like. Natural caffeine? We’ll take it! 
</p>
<br>
<br>


<%- include('footer') -%>
